footer {
  background: var(--black);
  color: var(--half-white);
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}

footer li {
  float: left;
  margin: 0 0 0 20px;
}

footer li i {
  color: var(--half-white);
  font-size: 20px;
  transition: all 0.3s ease;
}

footer li i:hover {
  color: var(--white);
}

@media screen and (max-width:768px) {
  footer {
    flex-direction: column;
  }
  footer li {
    margin: 20px 0 0 20px;
  }
}