.experience-list {
  display: flex;
  flex-wrap: wrap;
}

.experience-list li {
  width: 50%;
}

.experience-list a {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  align-items: center;
}

.experience-list li h4 {
  font-size: 18px;
  color: var(--secondary-color);
  font-family: var(--sansBold);
}

.experience-list li p {
  font-family: var(--gothamHTF);
  font-size: 15px;
}

.experience-list li .company-name {
  margin: 5px 0 0;
}

.experience-list .company-logo {
  max-height: 65px;
  margin-right: 20px;
}

@media screen and (max-width:768px) {
  .experience-list li {
    width: 100%;
  }
}