.recoginitions-list {
  padding-left: 25px;
}

.recoginitions-list li {
  list-style: disc;
  line-height: 22px;
  margin-bottom: 15px;
}

.recoginitions-list li div {
  list-style: circle;
  margin-bottom: 0;
  margin-left: 25px;
}

.recoginitions-list li i {
  font-size: 10px;
  margin-right: 10px;
}